*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

:root {
  --mug-header-height: 64px;
  --page-view-height: calc(100vh - var(--mug-header-height));
  --primary-color: #ff7846ff;
  --primary-color-hover: #ff9066ff;
  --primary-color-pressed: #ff6025ff;
  --primary-color-suppl: #ff7846ff;
}

.link-reset {
  text-decoration: none;
  color: inherit;
}